

h1 {
  font-style: bold;
  color: #000000 ;
}

h4 {
  font-style: italic;
}

body {
  margin: 100px;
  padding: inherit;
}

.copyright {
  text-align: center;
}

img {
  text-align: center;
}

.head {
  text-align: left;
}

.mdlogo {
  display:inline-grid;
  float: right;
  padding: 10px ;
  text-align:center;
  font-size: 8px;
  font-style: italic;
}

.mdlogo2 {
  width: 1000px;
  font-size: 8px;
  font-style: italic;

}

.graphic1 {
  align-content: left;
  width: auto;
}

.graphic2 {
  align-content: left;
  width: auto;
}

.a {
  color: #FF0000; 
}
